body {
  background: #ef0a84;
}

.container {
  display: block;
  padding: 10px 15px;
  margin: 30px auto;
  text-align: center;
  max-width: 50%;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

h1 {
  text-align: center;
  font-size: 25px;
  background: #ef0a84;
  color: white;
  margin: 20px auto;
  padding: 5px 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  max-width: 60%;
}

a {
  color: #ef0a84;
}

#search-form {
  padding: 20px 25px;
  background-color: white;
}

#search-form-input {
  max-width: 60%;
  padding: 10px 15px;
  border-radius: 30px;
  border: 2px solid #ef0a84;
}

#submit-button {
  max-width: 40%px;
  padding: 10px 15px;
  border: 2px solid #ef0a84;
  border-radius: 30px;
  color: white;
  background: #ef0a84;
}

.poem {
  max-width: 75%;
  background: white;
  color: black;
  margin: 10px auto;
  padding: 15px 20px;
  border-radius: 6px;
}

#poem {
  max-width: 60%;
  background: #ef0a84;
  border-radius: 6px;
  padding: 15px 20px;
  margin: 15px auto;
}

footer {
  font-size: 12px;
  padding: 10px 15px;
  max-width: 70%;
  margin: 20px auto;
}
